front-end/node_modules/
.DS_Store
front-end/.DS_Store

infrastructure/*.js
infrastructure/!jest.config.js
infrastructure/*.d.ts
infrastructure/node_modules

# CDK asset staging directory
infrastructure/.cdk.staging
infrastructure/cdk.out
